@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=Indie+Flower&family=Lobster&family=Rubik+Wet+Paint&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Navbar */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0ead6;
  color: #3c493a;
}

#logo h1 a {
  text-decoration: none;
  color: #3c493a;
}

#logo {
  padding: 20px 100px;
  letter-spacing: 3px;
}

h1 {
  /* font-family: "Alumni Sans Inline One", cursive; */
  /* font-family: "Rubik Glitch", cursive; */
  /* font-family: "Lobster", cursive; */
  font-family: "Rubik Wet Paint", cursive;
  /* font-family: "Indie Flower", cursive; */
}

nav {
  text-align: center;
}

.navbar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.navbar li {
  list-style: none;
  /* margin: 0 30px; */
  padding: 20px 40px 10px 40px;
  /* margin-bottom: 10px; */
  text-transform: uppercase;
}

.navbar li a {
  text-decoration: none;
  color: #753422;
}

.navbar li:hover {
  color: #828b6f;
  border-bottom: 1px solid #753422;
}

/* Hero */
.hero {
  background: url(../img/pic-1.jpeg) no-repeat center center/cover;
  height: 700px;
  color: rgb(243, 243, 239);
  font-weight: 800;
  font-size: 20px;
}

.hero h1 {
  font-family: "Lobster", cursive;
}

.promo {
  margin: 0 auto;
  text-align: center;
  padding-top: 250px;
  width: 600px;
  color: rgb(251, 250, 244);
  font-size: 1.3rem;
  text-shadow: 0px 0px 2px rgb(85, 84, 84);
}

.promo p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 70px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: rgb(25, 161, 25);
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.promo h1 {
  line-height: 1.6;
  line-height: 2;
}

/* Skills section */
main {
  color: #333;
}

.skill {
  height: 400px;
  background-color: #828b6f;
  color: #fff;
  display: flex;
  gap: 40px;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
}

.box {
  width: 250px;
  margin: 30px 20px;
}

.box h1 {
  color: #fff704;
  /* color: #46ddf8; */
  /* color: #80ddca; */
}

.box h2 {
  font-size: 1.2rem;
  line-height: 70px;
}

.box p {
  font-size: 0.7rem;
}

.bbtn {
  display: inline-block;
  background-color: rgb(25, 161, 25);
  margin-top: 30px;
  padding: 6px 10px;
  border-radius: 5px;
}

.bbtn:hover {
  cursor: pointer;
  background: #1a1c22;
}

/* Story section */
.story {
  display: flex;
  background: #ddd2d2;
  flex-grow: 1;
}

/* .story:nth-child(1) {
  flex-grow: 3;
}
.story:nth-child(2) {
  flex-grow: 1;
} */

.text {
  height: 300px;
  background-color: #f0ead6;
}

.text h1 {
  line-height: 80px;
  text-align: center;
  color: rgba(51, 51, 51, 0.87);
}

.pic {
  width: 900px;
  height: 300px;
  background: url(../img/5708783.jpg) no-repeat center center/cover;
}

.text {
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Footer section */
.footer {
  background-color: #1a1c22;
  color: #f4f4f4;
  padding: 20px 20px;
}

.footer-container {
  max-width: 1170px;
  /* background: #46ddf8; */
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  margin: 10px 20px;
}

.footer-col h4 {
  line-height: 80px;
  font-size: 1.3rem;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  line-height: 1.8rem;
}

.footer-col a {
  text-decoration: none;
  color: #fff;
}

.footer-col a:hover {
  color: coral;
}

/* .footer-col h4::before {
  content: "";
  position: absolute;
  left: 100;
  bottom: -580px;
  background: #e91e63;
  height: 2px;
  width: 40px;
} */

.social-media a {
  display: inline-block;
  background: darkgray;
  padding: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 5px;
}

.social-media a:hover {
  color: coral;
  background: #fff;
}

.copyright {
  color: lightgray;
  margin-top: 40px;
  font-size: 0.8rem;
  text-align: center;
}
